---
import StreamSchedule from "../components/StreamSchedule.astro";
import SectionHeader from "../components/SectionHeader.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import Layout from "../layouts/MainLayout.astro";
import {
  getStreamSchedule,
  type StreamGuestInfo,
} from "../utils/schedule-utils";
import { ENV } from "varlock/env";
import { getCollection } from "astro:content";
import { site } from "../data/site";
import { dateFilter } from "../utils/filters";

const allPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

// Sort by date descending
const sortedPosts = allPosts.sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});

const recentPosts = sortedPosts.slice(0, site.maxPostsPerPage);

const locale =
  Astro.request.headers.get("Accept-Language")?.split(",")[0] ||
  Astro.request.headers.get("Accept-Language") ||
  "en-US";

let errorMessage = "";
let schedule: StreamGuestInfo[] = [];

try {
  schedule = await getStreamSchedule({
    apiKey: ENV.AIRTABLE_API_KEY,
    baseId: ENV.AIRTABLE_STREAM_GUEST_BASE_ID,
  });
} catch (e) {
  console.error("Error fetching stream schedule:", e);
  errorMessage = "Error fetching stream schedule.";
}

const { timezone = "" } = Astro.locals.netlify.context.geo;

if (!errorMessage) {
  Astro.response.headers.set(
    "Cache-Control",
    "public, max-age=0, must-revalidate"
  );
  Astro.response.headers.set(
    "Netlify-CDN-Cache-Control",
    "public, max-age=86400, must-revalidate"
  );
  Astro.response.headers.set("timezone", timezone);
  Astro.response.headers.set("Netlify-Vary", "header=Accept-Language|timezone");
}

export const prerender = false;
---

<Layout title="Nick Taylor's live streaming schedule">
  <main id="main" class="max-w-5xl mx-auto px-6 py-12">
    <div class="space-y-20">
      <section>
        <SectionHeader title="Latest Content" headingLevel={1} />
        <div class="grid gap-6 xl:gap-8">
          {
            recentPosts.map((post) => (
              <BlogPostCard
                title={post.data.title}
                date={dateFilter(post.data.date)}
                image={post.data.cover_image}
                href={`/blog/${post.slug}`}
              />
            ))
          }
        </div>
        <a
          href="/archive"
          class="mt-4 inline-flex items-center gap-2 text-lg font-semibold text-black hover:text-pink-600"
        >
          More blog posts<span class="text-2xl">→</span>
        </a>
      </section>

      <section>
        {
          errorMessage ? (
            <>
              <SectionHeader title="Upcoming Live Streams" />
              <p class="text-red-600">{errorMessage}</p>
            </>
          ) : null
        }
        {
          !errorMessage && schedule.length > 0 ? (
            <>
              <SectionHeader title="Upcoming Live Streams" />
              <StreamSchedule
                schedule={schedule}
                locale={locale}
                timezone={timezone}
              />
            </>
          ) : null
        }
      </section>
    </div>
  </main>
</Layout>
