---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
import { site } from "../data/site";
import { dateFilter, w3DateFilter } from "../utils/filters";

const allPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

// Sort by date descending
const sortedPosts = allPosts.sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});

const recentPosts = sortedPosts.slice(0, site.maxPostsPerPage);

const introHeading = "Well, hello there!";
const introContent = `<em>Hi!</em> I'm Nick. I'm not a big fan of spiders, I'm a big fan of open source and I'm so glad you stopped by. Here's some of my latest content.`;
---

<Base
  title={introHeading}
  metaDesc="Welcome to Nick Taylor's Web Site. Nick is a Staff Software Engineer focusing on front-end technologies and tooling."
>
  <main id="main-content" tabindex="-1">
    <header>
      <div class="mx-auto max-w-208 px-500 sf-flow">
        <h1
          class="max-w-[20ex] text-(--color-theme-feature-text) text-800 md:text-900 leading-tight p-name"
        >
          {introHeading}
        </h1>
        <div
          class="intro__summary sf-flow leading-mid max-w-[60ch] text-500 [--flow-space:1.25rem]"
          set:html={introContent}
        />
      </div>
    </header>

    <section class="pt-300">
      <div class="mx-auto max-w-208 px-500 sf-flow">
        <h2 class="text-700 md:text-800">Latest Blog Posts</h2>
        <ol class="sf-flow pt-300" reversed>
          {
            recentPosts.map((post) => (
              <li class="flex items-start gap-300">
                {post.data.cover_image && (
                  <a
                    href={`/blog/${post.slug}`}
                    class="hidden shrink-0 md:block w-[150px]"
                    aria-hidden="true"
                  >
                    <img
                      src={post.data.cover_image}
                      alt=""
                      class="h-auto w-full"
                      data-not-lazy
                    />
                  </a>
                )}
                <span class="grow min-w-0 -mt-[0.25em]">
                  <h3 class="font-base leading-tight font-semibold text-300 lg:text-500">
                    <a
                      href={`/blog/${post.slug}`}
                      class="wrap-break-word text-(--color-theme-primary) no-underline hover:underline"
                      rel="bookmark"
                    >
                      {post.data.title}
                    </a>
                  </h3>
                  <p class="text-300 font-semibold italic">
                    <time datetime={w3DateFilter(post.data.date)}>
                      {dateFilter(post.data.date)}
                    </time>
                  </p>
                </span>
              </li>
            ))
          }
          <li>
            <h3
              class="font-base leading-tight font-semibold text-300 lg:text-500"
            >
              <a
                href="/archive"
                class="wrap-break-word text-(--color-theme-primary) no-underline hover:underline"
                rel="bookmark">More blog posts...</a
              >
            </h3>
          </li>
        </ol>
      </div>
    </section>
  </main>
</Base>
