---
import StreamSchedule from "../components/StreamSchedule.astro";
import Layout from "../layouts/MainLayout.astro";
import {
  getStreamSchedule,
  type StreamGuestInfo,
} from "../utils/schedule-utils";
import { ENV } from "varlock/env";
import { getCollection } from "astro:content";
import { site } from "../data/site";
import { dateFilter, w3DateFilter } from "../utils/filters";

const allPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

// Sort by date descending
const sortedPosts = allPosts.sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});

const recentPosts = sortedPosts.slice(0, site.maxPostsPerPage);

const locale =
  Astro.request.headers.get("Accept-Language")?.split(",")[0] ||
  Astro.request.headers.get("Accept-Language") ||
  "en-US";

let errorMessage = "";
let schedule: StreamGuestInfo[] = [];

try {
  schedule = await getStreamSchedule({
    apiKey: ENV.AIRTABLE_API_KEY,
    baseId: ENV.AIRTABLE_STREAM_GUEST_BASE_ID,
  });
} catch (e) {
  console.error("Error fetching stream schedule:", e);
  errorMessage = "Error fetching stream schedule.";
}

const { timezone = "" } = Astro.locals.netlify.context.geo;

if (!errorMessage) {
  Astro.response.headers.set(
    "Cache-Control",
    "public, max-age=0, must-revalidate"
  );
  Astro.response.headers.set(
    "Netlify-CDN-Cache-Control",
    "public, max-age=86400, must-revalidate"
  );
  Astro.response.headers.set("timezone", timezone);
  Astro.response.headers.set("Netlify-Vary", "header=Accept-Language|timezone");
}

export const prerender = false;
---

<Layout title="Nick Taylor's live streaming schedule">
  <main id="main">
    <h1>Latest Content</h1>
    <div class="grid gap-8">
      <section class="grid gap-6">
        <h2 class="text-700 md:text-800">Blog Posts</h2>
        <ol class="grid gap-4">
          {
            recentPosts.map((post) => (
              <li class="flex gap-4">
                {post.data.cover_image && (
                  <a
                    href={`/blog/${post.slug}`}
                    class="hidden shrink-0 md:block w-37.5"
                    aria-hidden="true"
                  >
                    <img
                      src={post.data.cover_image}
                      alt=""
                      class="h-auto w-full"
                      data-not-lazy
                    />
                  </a>
                )}
                <span class="grow min-w-0 -mt-[0.25em]">
                  <h3 class="font-base leading-tight font-semibold text-300 lg:text-500">
                    <a
                      href={`/blog/${post.slug}`}
                      class="wrap-break-word text-(--color-theme-primary) no-underline hover:underline"
                      rel="bookmark"
                    >
                      {post.data.title}
                    </a>
                  </h3>
                  <p class="text-300 font-semibold italic">
                    <time datetime={w3DateFilter(post.data.date)}>
                      {dateFilter(post.data.date)}
                    </time>
                  </p>
                </span>
              </li>
            ))
          }
          <li>
            <h3
              class="font-base leading-tight font-semibold text-300 lg:text-500"
            >
              <a
                href="/archive"
                class="wrap-break-word text-(--color-theme-primary) no-underline hover:underline"
                rel="bookmark">More blog posts...</a
              >
            </h3>
          </li>
        </ol>
      </section>
      <h2>Streaming Schedule</h2>
      {errorMessage && <p class="text-red-600">{errorMessage}</p>}
      {
        !errorMessage && schedule.length === 0 ? (
          <p>
            No upcoming streams scheduled. Check out the{" "}
            <a href="/archive">archives</a>!
          </p>
        ) : (
          <StreamSchedule
            schedule={schedule}
            locale={locale}
            timezone={timezone}
          />
        )
      }
    </div>
  </main>
</Layout>
