---
import EventCalendar from "./EventCalendar";
import UpcomingBadge from "./UpcomingBadge.astro";

interface Platform {
  name: string;
  url: string;
}

interface Props {
  title: string;
  guest: string;
  datetime: string;
  image?: string;
  platforms: Platform[];
  eventDate: string;
  eventName: string;
  description: string;
  location: string;
  videoLink?: string;
  upcoming?: boolean;
}

const {
  title,
  guest,
  datetime,
  image,
  platforms,
  eventDate,
  eventName,
  description,
  location,
  videoLink,
  upcoming,
} = Astro.props;
---

<div class="stream-card group grid md:flex gap-6 xl:gap-8" data-pagefind-ignore>
  {
    image &&
      (videoLink ? (
        <a
          href={videoLink}
          class="relative shrink-0 hidden md:block w-40 h-22.5 rounded-lg overflow-hidden"
          aria-hidden="true"
          tabindex="-1"
        >
          <img
            src={image}
            alt=""
            class="w-full h-full object-contain"
            loading="lazy"
            decoding="async"
          />
        </a>
      ) : (
        <div class="relative shrink-0 hidden md:block w-40 h-22.5 rounded-lg overflow-hidden">
          <img
            src={image}
            alt=""
            class="w-full h-full object-contain"
            loading="lazy"
            decoding="async"
          />
        </div>
      ))
  }
  <div class="flex-1 flex flex-col justify-center gap-2 min-w-0">
    <h3
      class="text-xl font-semibold leading-snug text-balance text-card-foreground"
    >
      {
        videoLink ? (
          <a
            href={videoLink}
            class="hover:text-brand focus:text-brand dark:hover:text-brand dark:focus:text-brand outline-none"
          >
            {title}
          </a>
        ) : (
          title
        )
      }
      {upcoming && <UpcomingBadge />}
    </h3>
    <p class="text-base text-muted-foreground">{guest}</p>
    <time class="italic text-base text-muted-foreground font-normal"
      >{datetime}</time
    >

    <div class="flex flex-col md:flex-row md:items-center gap-3 mt-1 flex-wrap">
      <div class="flex items-center gap-3 flex-wrap">
        <span class="text-base text-foreground">Watch live on:</span>
        {
          platforms.map((platform) => (
            <a
              href={platform.url}
              class="text-base text-foreground underline font-medium hover:text-brand focus:text-brand dark:hover:text-brand dark:focus:text-brand outline-none"
              target="_blank"
              rel="noopener noreferrer"
            >
              {platform.name}
            </a>
          ))
        }
      </div>
      <EventCalendar
        eventDate={eventDate}
        eventName={eventName}
        description={description}
        duration={90}
        location={videoLink ?? location}
        client:visible
      />
    </div>
  </div>
</div>
