---
import { getCollection } from "astro:content";

interface Props {
  url: string;
}

const { url } = Astro.props;

let updatedUrl = new URL(url);
let title: string | undefined = undefined;

if (
  updatedUrl.pathname.startsWith("/nickytonline") ||
  updatedUrl.pathname.startsWith("/opensauced")
) {
  updatedUrl = new URL(
    updatedUrl.pathname.replace(/\/(nickytonline|opensauced)/, "/blog"),
    Astro.url
  );

  // the blog slug here is in the blog content collection so get the title from there
  const blogSlug = updatedUrl.pathname.replace("/blog/", "").replace(/\/$/, "");
  title = await getCollection("blog").then((entries) => {
    const entry = entries.find((e) => e.slug === blogSlug);
    return entry?.data.title;
  });
}

const encodedUrl = encodeURIComponent(updatedUrl.toString()).replace(/\/$/, "");
---

<a href={updatedUrl} class="relative block w-fit">
  <span class="sr-only">{title ?? updatedUrl}</span>
  <picture>
    <source
      type="image/webp"
      srcset={`https://v1.opengraph.11ty.dev/${encodedUrl}/small/webp/ 375w, https://v1.opengraph.11ty.dev/${encodedUrl}/medium/webp/ 650w`}
      sizes="100vw"
    />
    <source
      type="image/jpeg"
      srcset={`https://v1.opengraph.11ty.dev/${encodedUrl}/small/jpeg/ 375w, https://v1.opengraph.11ty.dev/${encodedUrl}/medium/jpeg/ 650w`}
      sizes="100vw"
    />
    <img
      alt={""}
      class="block"
      loading="lazy"
      decoding="async"
      src={`https://v1.opengraph.11ty.dev/${encodedUrl}/small/jpeg/`}
      width="650"
      height="341"
    />
  </picture>
  {
    title ? (
      <span class="absolute bottom-0 left-0 px-2 py-1 text-sm bg-white/90 dark:bg-black/90 text-black dark:text-white">
        {title}
      </span>
    ) : null
  }
</a>
