---
interface Props {
  url: string;
}

const { url } = Astro.props;
const encodedUrl = encodeURIComponent(url).replace(/\/$/, "");
const { hostname } = new URL(url);
---

<a href={url} class="relative block w-fit" data-embed>
  <span class="sr-only">{url}</span>
  <picture>
    <source
      type="image/webp"
      srcset={`https://v1.opengraph.11ty.dev/${encodedUrl}/small/webp/ 375w, https://v1.opengraph.11ty.dev/${encodedUrl}/medium/webp/ 650w`}
      sizes="100vw"
    />
    <source
      type="image/jpeg"
      srcset={`https://v1.opengraph.11ty.dev/${encodedUrl}/small/jpeg/ 375w, https://v1.opengraph.11ty.dev/${encodedUrl}/medium/jpeg/ 650w`}
      sizes="100vw"
    />
    <img
      alt={url}
      class="block"
      loading="lazy"
      decoding="async"
      src={`https://v1.opengraph.11ty.dev/${encodedUrl}/small/jpeg/`}
      width="650"
      height="341"
    />
  </picture>
  <span
    class="absolute bottom-0 right-0 px-2 py-1 text-sm bg-white/70 dark:bg-black/70 text-black dark:text-white"
  >
    {hostname}
  </span>
</a>
