---
import MainLayout from "./MainLayout.astro";
import PostIntro from "../components/PostIntro.astro";
import SeriesNavigation from "../components/SeriesNavigation.astro";
import type { CollectionEntry } from "astro:content";
import site from "../data/site";

export interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const currentUrl = `/blog/${entry.slug}`;
---

<MainLayout
  title={entry.data.title}
  metaDesc={entry.data.excerpt || entry.data.description}
  socialImage={new URL(entry.data.cover_image!, site.url).toString()}
>
  <main id="main" tabindex="-1">
    <article>
      <PostIntro
        title={entry.data.title}
        cover_image={entry.data.cover_image}
        date={entry.data.date}
        reading_time_minutes={entry.data.reading_time_minutes}
        fileSlug={entry.slug}
        url={currentUrl}
        canonical_url={entry.data.canonical_url}
      />

      {
        entry.data.series && (
          <div class="mx-auto max-w-208 px-500">
            <SeriesNavigation
              series={entry.data.series}
              currentUrl={currentUrl}
            />
          </div>
        )
      }

      <div>
        <Content />
      </div>

      {
        entry.data.tags && entry.data.tags.length > 0 && (
          <footer>
            <div>
              <div class="grid items-center flex-wrap">
                <h2 class="shrink-0 mr-base font-base text-600">tags</h2>
                <ul class="flex flex-wrap items-center gap-500 p-100 -m-100 pl-base p-category">
                  {entry.data.tags.map((tag) => (
                    <li>
                      <a
                        href={`/tags/${tag}`}
                        class="inline-block wrap-break-word bg-(--color-dark) px-[0.4em] pt-[0.2em] pb-[0.3em] leading-tight text-(--color-theme-highlight) no-underline hover:underline"
                      >
                        {tag}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </footer>
        )
      }
    </article>
  </main>
</MainLayout>
